@import "themes/macchiato.css";


* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.module{
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    min-height: 0;
    border-radius: 30px;
}

.modules-left,
.modules-center,
.modules-right{
    border-radius: 13px;
    background-color: @base;
    opacity: 1.0;
    margin-top: 5px;
    margin-bottom: 5px;
    /*padding: 2px;*/
    min-height: 32px;
}

.modules-center{
    min-width: 54px;
}

#cpu {
    color: @yellow;
}

#memory {
    color: @blue;
}

#disk {
    color: @red;
}

#cava{
    color: @red;
}

#clock {
    color: @yellow;
}

#network {
    color: @blue;
}
#network {
    color: @blue;
}
#network.down{
    color: @peach;
}

#bluetooth {
    color: @blue;
}
#bluetooth:hover,
#custom-power:hover{
    background-color: @surface1;
}

#taskbar button:hover{
    transition: none;
    animation: none;
}

#taskbar button.active{
    background-color: @surface1;
}

#pulseaudio {
    color: @red;
}

#custom-power{
    color: @red
}

menu {
    background-color: @base;
    color: @text;
    border-radius: 13px;
    border: 2px solid @blue;
    padding: 10px;
}

menuitem {
    border-radius: 13px;
    border: 1px solid @overlay0;
    margin-top: 5px;
    margin-bottom: 5px;
}


